In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
vaccines = "../Resources/country_vaccinations.csv"

In [3]:
vaccines_df = pd.read_csv(vaccines)

In [4]:
vaccines_df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...

In [5]:
del vaccines_df['iso_code']
del vaccines_df['daily_vaccinations_raw']
del vaccines_df['total_vaccinations_per_hundred']
del vaccines_df['people_vaccinated_per_hundred']
del vaccines_df['people_fully_vaccinated_per_hundred']
del vaccines_df['daily_vaccinations_per_million']
del vaccines_df['source_name']
del vaccines_df['source_website']

In [6]:
vaccines_df.head()

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines
0,Albania,2021-01-10,0.0,0.0,NaN,NaN,Pfizer/BioNTech
1,Albania,2021-01-11,NaN,NaN,NaN,64.0,Pfizer/BioNTech
2,Albania,2021-01-12,128.0,128.0,NaN,64.0,Pfizer/BioNTech
3,Albania,2021-01-13,188.0,188.0,NaN,63.0,Pfizer/BioNTech
4,Albania,2021-01-14,266.0,266.0,NaN,66.0,Pfizer/BioNTech

In [7]:
vaccines_df = vaccines_df[vaccines_df['daily_vaccinations'].notna()]
vaccines_df

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines
1,Albania,2021-01-11,NaN,NaN,NaN,64.0,Pfizer/BioNTech
2,Albania,2021-01-12,128.0,128.0,NaN,64.0,Pfizer/BioNTech
3,Albania,2021-01-13,188.0,188.0,NaN,63.0,Pfizer/BioNTech
4,Albania,2021-01-14,266.0,266.0,NaN,66.0,Pfizer/BioNTech
5,Albania,2021-01-15,308.0,308.0,NaN,62.0,Pfizer/BioNTech
...,...,...,...,...,...,...,...
5452,Zimbabwe,2021-03-03,27970.0,27970.0,NaN,2871.0,Sinopharm/Beijing
5453,Zimbabwe,2021-03-04,30658.0,30658.0,NaN,2807.0,Sinopharm/Beijing
5454,Zimbabwe,2021-03-05,31325.0,31325.0,NaN,2678.0,Sinopharm/Beijing
5455,Zimbabwe,2021-03-06,32014.0,32014.0,NaN,2330.0,Sinopharm/Beijing
5456,Zimbabwe,2021-03-07,32240.0,32240.0,NaN,1914.0,Sinopharm/Beijing

In [1]:
vaccines_df.to_csv("clean_vaccines.csv",encoding="UTF-8")

NameError: name 'vaccines_df' is not defined

In [3]:
world_vaccine = vaccines_df.groupby(["country"])

NameError: name 'vaccines_df' is not defined

In [9]:
total_country_vacc = pd.DataFrame({
    "Total Vaccinations": world_vaccine['daily_vaccinations'].sum()
       
})
total_country_vacc

               Total Vaccinations
country
Albania                   13323.0
Algeria                   69070.0
Andorra                    1971.0
Anguilla                   4083.0
Argentina               1313391.0
...                           ...
United States          82977935.0
Uruguay                   66784.0
Venezuela                  8704.0
Wales                   1095232.0
Zimbabwe                  29937.0

[126 rows x 1 columns]

In [12]:
top_countries_df = total_country_vacc.sort_values(by="Total Vaccinations",ascending=False)
top_countries_df

                     Total Vaccinations
country
United States                82977935.0
China                        49687760.0
United Kingdom               22248026.0
England                      18769920.0
India                        18545913.0
...                                 ...
Egypt                            1314.0
Belize                           1043.0
Montserrat                        645.0
Trinidad and Tobago               441.0
Grenada                           145.0

[126 rows x 1 columns]

In [ ]:
#connection_string = "postgres://postgres:12@localhost/vaccines"
#conn = create_engine(connection_string)

In [ ]:
#vaccines_df.to_sql(name="countries", con=conn, if_exists="replace", index=False)